.tools-area{
    width: 600px;
    
}
.flex-container{
    display: flex;
}
.flex-item{
    border:1px solid rgb(239, 239, 239);
    width: 2em;
    height: 2em;
}

.bg-color-red{
    background-color: rgb(255,0,0);
}